mixin products( {products:products} )
  each product in products
    .product__image(class= `tag-${product.tag}`)
      img(src=product.urlImage , alt="product image")
      .product__info
        button.icon
          i.fa-solid.fa-heart
          | Yêu thích
        button.icon
          i.fas.fa-signal.mr-1
          | So sánh
        button.icon
          i.fa-solid.fa-down-left-and-up-right-to-center

      .product__content
        h3.product__title= product.title
        p.main-price.my-3= product.discount
          sup Đ
          del.product__cost= product.cost
            sup Đ
        button.button add to cart
        p.product__description= product.description
